body {
  margin: 0px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10vw;
  border-right: 1px solid black;
}

.content {
  margin-left: 10vw;
}

.circle {
  position: relative;
  top: 10vh;
  bottom: 10vh;
  left: 20vw;
  width: 50vw;
  height: 50vw;
  background-color: black;
  border-radius: 50%;
}

.container-title {
  position: absolute;
  top: 23vh;
  left: 37vw;
  width: 40vw;
  height: 40vw;
  border: 0px solid cyan;
}


.title {  
  vertical-align: middle;
  align-items: center;
  width: 45%;
  height: 45%;
  filter: invert(100%);
}