@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap');

body {
    margin: 0px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 80px;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.home-logo {
    padding-top: 8px;
    width: 65px;
    height: auto;
    border-radius: 50%;
    /*animation*/
    animation-name: home-logo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes home-logo {
    0%{
        filter: invert(0%)
    }
    100% {
        filter: invert(100%)
    }
}

.buttons {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 3;
}

.switched-on .content {
    animation-play-state: paused;
}

.switched-on .text {
    animation-play-state: paused;
}

.switch {
    position: fixed;
    top: 20px;
    left: 10px;
    cursor: pointer;
    font-size: 18pt;
    font-family: 'Noto Serif JP', serif;
    color: grey;
}

.switch:hover {
    color: black;
}

.content {
    position: relative;
    margin-top: 80px;
    /*animation*/
    animation-name: content;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes content {
    0% {
        background-color: white;
    }
    100% {
        background-color: black;
    }
}

.text-container {
    padding-top: 300px;
    padding-left: 100px;
    padding-bottom: 150px;
    width: 40vw;
    z-index: 1;
}

.text {
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri;
    line-height: 230%;
    letter-spacing: 1px;
    /*animation*/
    animation-name: text;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes text {
    0% {
        filter: invert(0%)
    }
    100%{
        filter: invert(100%)
    }
}

.next {
    float: right;
    color:grey;
    margin: 0px;
    text-decoration-line: none;
    font-size: 32pt;
    font-family: 'Noto Serif JP', serif;
    -webkit-transition: color 2s ease-out;
    -moz-transition: color 2s ease-out;
    -o-transition: color 2s ease-out;
    transition: color 2s ease-out;}

.next:hover {
    color: rgb(150, 149, 75);
}