@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: white;
    margin: 0px;
}

.home-logo {
    width: 50vw;
    height: 50vw;
    margin-top: 3vw;
    border-radius: 50%;
    /*animation*/
    animation-name: home-logo;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes home-logo {
    0%{
        filter: invert(0%)
    }
    100% {
        filter: invert(100%)
    }
}

.circles {
    filter: blur(8px);
}


#circle-1 {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: black;
    transition: all 0.5s ease-in-out;
}

#circle-1:hover {
    background-color: rgb(46, 45, 43);
}

#circle-2 {
    position: absolute;
    top: 5vh;
    left: 85vw;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: black;
    transition: all 0.5s ease-in-out;
}

#circle-2:hover {
    background-color: rgb(46, 45, 43);
}

#circle-3 {
    position: absolute;
    top: 80vh;
    left: 5vw;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: black;
    transition: all 0.5s ease-in-out;
}

#circle-3:hover {
    background-color: rgb(46, 45, 43);
}

#circle-4 {
    position: absolute;
    top: 80vh;
    left: 85vw;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: black;
    transition: all 0.5s ease-in-out;
}

#circle-4:hover {
    background-color: rgb(46, 45, 43);
}

@media (max-width: 800px) {
    .home-logo {
        margin-top: 30vh;
    }
    #circle-1:hover {
        background-color:black;
    }
    #circle-2:hover {
        background-color:black;
    }   
     #circle-3:hover {
        background-color:black;
    }    
    #circle-4:hover {
        background-color:black;
    }
}