html {
    background-color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: ghostwhite;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 650px;
    height: 650px;
    background: black;
    border-radius: 50%;
    filter: blur(30px);
    /*animation*/
    animation-name: circle;
    animation-duration: 7s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    /* animation-timing-function:ease-in-out; */
}

@keyframes circle {
    0% {
        background-color: white;
    }
    75% {
        background-color: grey;
    }
    100% {
        background-color: black;
    }
}

#box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 1000px;
    height: 1000px;
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align:center;
    font-size: 130pt;
    font-family: 'Noto Serif JP', serif;
    line-height: 105%;
    color: white;
    /*animation*/
    animation-name: title;
    animation-duration: 7s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    /* animation-timing-function:ease-in-out; */
}

@keyframes title {
    0% {
        color: black;
    }
    70% {
        color: grey;
    }
    100% {
        color: white;
    }
}